program: src/training/train.py
command:
  - ${env}
  - python
  - "-m"
  - "src.training.train"
  - "--config"
  - "configs/config_sweep_2.yaml"

method: bayes 

metric:
  name: val/f1
  goal: maximize

early_terminate:
  type: hyperband
  min_iter: 6      
  eta: 2           

parameters:

  model.dropout:
    distribution: uniform
    min: 0.0
    max: 0.5

  transfer.backbone_lr:
    distribution: log_uniform_values
    min: 0.00001
    max: 0.001

  transfer.head_lr:
    distribution: log_uniform_values
    min: 0.0001
    max: 0.05
  
  optimizer.weight_decay:
    distribution: uniform
    min: 0.0
    max: 0.1

  scheduler.tmax_ratio:
    distribution: uniform
    min: 0.5
    max: 1.5

  regularization.label_smoothing:
    distribution: uniform
    min: 0.0
    max: 0.2

  regularization.mixup.alpha:
    distribution: uniform
    min: 0.0
    max: 1.0
